# --------------------------------------------------------------------------------------------------
# Directories
# --------------------------------------------------------------------------------------------------

# Hidden.
.idea
.vscode

# Specific.
_minted_main

# --------------------------------------------------------------------------------------------------
# Files
# --------------------------------------------------------------------------------------------------

*.aux
*.fdb_latexmk
*.fls
*.gz
*.log
*.pdf
*.out
*.toc

# --------------------------------------------------------------------------------------------------
# Exceptions
# --------------------------------------------------------------------------------------------------
